{% extends "main.html" %}
{% block libs %}
<script src="/javascripts/repo-card.js"></script>
<link rel="stylesheet" href="/stylesheets/porfolio.css">
{% endblock %}
{% block content %}
<section class="mdx-container portfolio-section">
  <div class="md-grid md-typeset">
    <div class="text-center">
      <h1>Gradle Plugins</h1>
    </div>
    <div class="grid">
      <p class="card repo-card" data-repo="GradleUp/shadow"></p>
      <p class="card repo-card" data-repo="GradleUp/static-analysis-plugin"></p>
      <p class="card repo-card" data-repo="GradleUp/gr8"></p>
      <p class="card repo-card" data-repo="GradleUp/gr8"></p>
      <p class="card repo-card" data-repo="GradleUp/librarian"></p>
      <p class="card repo-card" data-repo="GradleUp/nmcp"></p>
      <p class="card repo-card" data-repo="GradleUp/maven-sympathy"></p>
      <p class="card repo-card" data-repo="GradleUp/auto-manifest"></p>
    </div>
    <div class="text-center">
      <h1>Internal Projects</h1>
    </div>
    <div class="grid">
      <p class="card repo-card" data-repo="GradleUp/gradleup.github.io"></p>
      <p class="card repo-card" data-repo="GradleUp/.github"></p>
    </div>
  </div>
</section>
{% endblock %}
